.panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	-webkit-app-region: drag;
}

.title {
	font-size: 24px;
	margin-left: 20px;
}

.actions {
	display: flex;
	align-items: center;
	gap: 10px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1 / 1;
	width: 40px;
	height: 40px;
	background-color: var(--grey);
	-webkit-app-region: no-drag;
}

.icon {
	width: 14px;
	height: 14px;
	aspect-ratio: 1 / 1;
}
