.triads {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 14px;
}

.titles {
	text-align: center;
}

.title {
	display: inline-block;
	position: relative;
	font-size: 14px;
	color: var(--black);

	&::first-letter {
		text-transform: uppercase;
	}

	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		display: block;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: var(--black);
	}
}

.combinations {
	flex: 1 1 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: row;
	row-gap: 8px;
	column-gap: inherit;
}

.combination {
	width: 30px;
	height: 30px;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	padding: 4px;
	background-color: var(--grey);

	&.active {
		background-color: var(--light-black);
	}

	@media (hover: hover) {
		transition: background-color 0.1s ease;

		&:hover {
			background-color: var(--light-black);
		}
	}
}

.combinationIcon {
	fill: var(--white);
	max-width: 30px;
	max-height: 30px;
}
