.selection {
	display: grid;
	grid-template-columns: 260px 1fr;
	gap: 15px;
}

.wheel {
	aspect-ratio: 1 / 1;
	border-radius: 5px;
	background: var(--light-black);
}

.circle {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: conic-gradient(
		#ff0000,
		#ff7f00,
		#ffff00,
		#00ff00,
		#00ffff,
		#0000ff,
		#8b00ff,
		#ff0000
	);
}

.windows {
	display: grid;
	gap: 10px;
	grid-template-rows: repeat(2, 1fr);
}

.window {
	aspect-ratio: 1 / 1;
	border-radius: 5px;
	background: var(--light-black);
}

.screenshot {
	position: relative;
}

.cross {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
	background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), rgba(255, 255, 255, 0);
	background-position: center;
	background-size:
		30% 0.5px,
		0.5px 30%;
	background-repeat: no-repeat;
}

.screen {
	position: absolute;
	z-index: 1;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.brightness {
	background:
		linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0)),
		linear-gradient(90deg, #ffffff, #ff0000);
}
