.selection {
	display: grid;
	grid-template-columns: 260px 1fr;
	gap: 15px;
}

.wheel {
	aspect-ratio: 1 / 1;
	border-radius: 5px;
	background: var(--light-black);
}

.circle {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: conic-gradient(
		#ff0000,
		#ff7f00,
		#ffff00,
		#00ff00,
		#00ffff,
		#0000ff,
		#8b00ff,
		#ff0000
	);
}

.windows {
	display: grid;
	gap: 10px;
	grid-template-rows: repeat(2, 1fr);
}

.window {
	aspect-ratio: 1 / 1;
	border-radius: 5px;
	background: var(--light-black);
}

.screenshot {
	position: relative;
	cursor: crosshair;
	overflow: hidden;
}

.screen {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	user-select: none;
}

.cross {
	position: absolute;
	z-index: 2;
	pointer-events: none;
	width: 30%;
	height: 30%;
	transform: translate(-50%, -50%);
	background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
	background-position: center;
	background-size:
		100% 0.5px,
		0.5px 100%;
	background-repeat: no-repeat;
	will-change: left, top;
}

.screen {
	position: absolute;
	z-index: 1;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}
