.main {
	padding: 20px;
	border-bottom: 1px solid var(--light-black);
}

.selection {
	display: grid;
	grid-template-columns: 260px 1fr;
	gap: 15px;
}

.wheel {
	aspect-ratio: 1 / 1;
	border-radius: 5px;
	background: var(--light-black);
}

.circle {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: conic-gradient(
		#ff0000,
		#ff7f00,
		#ffff00,
		#00ff00,
		#00ffff,
		#0000ff,
		#8b00ff,
		#ff0000
	);
}

.windows {
	display: grid;
	gap: 10px;
	grid-template-rows: repeat(2, 1fr);
}

.window {
	aspect-ratio: 1 / 1;
	border-radius: 5px;
	background: var(--light-black);
}

.screenshot {
	position: relative;
}

.cross {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
	background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), rgba(255, 255, 255, 0);
	background-position: center;
	background-size:
		30% 0.5px,
		0.5px 30%;
	background-repeat: no-repeat;
}

.screen {
	position: absolute;
	z-index: 1;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.brightness {
	background:
		linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0)),
		linear-gradient(90deg, #ffffff, #ff0000);
}

.settings {
	display: grid;
	grid-template-columns: 260px 1fr;
	gap: 15px;
	margin-top: 15px;

	&.solid {
		grid-template-columns: auto;
	}
}

.indication {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.gamma {
	display: flex;
	align-items: center;
	gap: 15px;
}

.pipette {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	//background-color: var(--grey);

	@media (hover: hover) {
		transition: background-color 0.1s ease;

		&:hover {
			background-color: var(--light-black);

			.pipetteIcon {
				fill: var(--white);
			}
		}
	}
}

.pipetteIcon {
	width: 18px;
	height: 18px;
	fill: var(--black);

	transition: fill 0.1s ease;
}

.sliders {
	flex: 1 1 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 14px;
}

.slider {
	display: block;
	border-radius: 100px;
	height: 20px;
	width: 100%;
	background-color: var(--grey);
}

.rainbow {
	background: linear-gradient(
		90deg,
		#ff0000,
		#ff7f00,
		#ffff00,
		#00ff00,
		#00ffff,
		#0000ff,
		#8b00ff,
		#ff0000
	);
}

.rgba {
	background-image: url('../../shared/images/grid.svg');
	background-repeat: repeat;
	background-position: 0 0;
	background-size: auto;
}

.inputs {
	display: flex;
	gap: 10px;
}

.model {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 7px;
	border: 1px solid var(--light-black);
	gap: 15px;
	padding: 6px 35px 9px 9px;
}

.select {
}

.arrow {
	position: absolute;
	z-index: 1;
	display: block;
	right: 13px;
	top: 50%;
	width: 7px;
	aspect-ratio: 7 / 4;
	transform: translateY(-50%);
	fill: var(--light-black);
}

.codes {
	display: flex;
	align-items: center;
	gap: 1px;

	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	overflow: hidden;
}

.codeWrapper {
	flex: 1 1 auto;
	height: 100%;
}

.code {
	width: 100%;
	height: 100%;
	padding: 6px 10px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	font-size: 14px;
	color: var(--black);
	background-color: var(--grey);
}

.percentages {
	height: 100%;
	display: inline-flex;
	align-items: center;
	background-color: var(--grey);
}

.opacity {
	width: calc(3ch * 2);
	padding: 6px 10px;
	font-size: 14px;
	color: var(--black);
}

.static {
	padding: 0 8px 0 0;
}

.triads {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 14px;
}

.titles {
	text-align: center;
}

.title {
	display: inline-block;
	position: relative;
	font-size: 14px;
	color: var(--black);

	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		display: block;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: var(--black);
	}
}

.combinations {
	flex: 1 1 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: row;
	row-gap: 8px;
	column-gap: inherit;
}

.combination {
	width: 30px;
	height: 30px;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	padding: 4px;
	background-color: var(--grey);

	&.active {
		background-color: var(--light-black);
	}

	@media (hover: hover) {
		transition: background-color 0.1s ease;

		&:hover {
			background-color: var(--light-black);
		}
	}
}

.combinationIcon {
	fill: var(--white);
	max-width: 30px;
	max-height: 30px;
}
