.main {
	padding: 20px;
	border-bottom: 1px solid var(--light-black);
}

.settings {
	display: grid;
	grid-template-columns: 260px 1fr;
	gap: 15px;
	margin-top: 15px;

	&.solid {
		grid-template-columns: auto;
	}
}

.indication {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.gamma {
	display: flex;
	align-items: center;
	gap: 15px;
}

.pipette {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	//background-color: var(--grey);

	@media (hover: hover) {
		transition: background-color 0.1s ease;

		&:hover {
			background-color: var(--light-black);

			.pipetteIcon {
				fill: var(--white);
			}
		}
	}
}

.pipetteIcon {
	width: 18px;
	height: 18px;
	fill: var(--black);

	transition: fill 0.1s ease;
}

.sliders {
	flex: 1 1 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 14px;
}

.slider {
	display: block;
	border-radius: 100px;
	height: 20px;
	width: 100%;
	background-color: var(--grey);
}

.rainbow {
	background: linear-gradient(
		90deg,
		#ff0000,
		#ff7f00,
		#ffff00,
		#00ff00,
		#00ffff,
		#0000ff,
		#8b00ff,
		#ff0000
	);
}

.rgba {
	position: relative;
	background-image: url('../../shared/images/grid.svg');
	background-repeat: repeat;
	background-position: 0 0;
	background-size: auto;

	&:after {
		content: '';
		position: absolute;
		z-index: 1;
		display: block;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 100px;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
	}
}

.inputs {
	display: flex;
	gap: 10px;
}

.codes {
	display: flex;
	align-items: center;
	gap: 1px;

	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	overflow: hidden;
}

.codeWrapper {
	flex: 1 1 auto;
	height: 100%;
}

.code {
	width: 100%;
	height: 100%;
	padding: 6px 10px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	font-size: 14px;
	color: var(--black);
	background-color: var(--grey);
}

.percentages {
	height: 100%;
	display: inline-flex;
	align-items: center;
	background-color: var(--grey);
}

.opacity {
	width: calc(3ch * 2);
	padding: 6px 10px;
	font-size: 14px;
	color: var(--black);
}

.static {
	padding: 0 8px 0 0;
}
