.pin {
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	background: var(--grey);
	cursor: pointer;
	overflow: hidden;
}

.cover {
	position: absolute;
	z-index: 1;
	display: block;
	right: -1px;
	top: 0;
	width: 50%;
	height: 100%;
	background-image: url('../../shared/images/grid.svg');
	background-repeat: repeat;
	background-position: 0 0;
	background-size: 10px;
	opacity: 90%;
}
