.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-top: 56px;
	border-top: 1px solid var(--grey);
	border-bottom: 1px solid var(--grey);
	padding: 10px 20px;
}

.modeBox {
	display: flex;
	gap: 10px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;

	border-radius: 4px;
	overflow: hidden;

	transition: background-color 0.3s ease;

	&.active {
		background-color: var(--grey);
	}
}

.icon {
	width: 100%;
	height: 100%;
	max-width: 16px;
	max-height: 16px;
	fill: var(--grey);

	transition: fill 0.2s ease;

	&.active {
		fill: var(--white);
	}
}
