.main {
	padding: 20px;
	border-bottom: 1px solid var(--grey);
}

.selection {
	display: grid;
	grid-template-columns: 2.08fr 1fr;
	gap: 15px;
}

.circle {
	aspect-ratio: 1 / 1;
	border-radius: 5px;
	background: var(--grey);
}

.windows {
	display: grid;
	gap: 10px;
	grid-template-rows: repeat(2, 1fr);
}

.window {
	aspect-ratio: 1 / 1;
	border-radius: 5px;
	background: var(--grey);
}

.screenshot {
}

.brightness {
}

.settings {
	display: grid;
	grid-template-columns: 2.08fr 1fr;
	gap: 15px;
	margin-top: 15px;
}

.indication {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.gamma {
	display: flex;
	align-items: center;
	gap: 15px;
}

.pipette {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	background-color: var(--grey);
}

.pipetteIcon {
	width: 20px;
	height: 20px;
	fill: var(--white);
}

.sliders {
	flex: 1 1 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 14px;
}

.slider {
	display: block;
	border-radius: 100px;
	height: 20px;
	width: 100%;
	background-color: var(--grey);
}

.rainbow {
}

.rgba {
}

.inputs {
	display: flex;
	gap: 10px;
}

.model {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 7px;
	border: 1px solid var(--black);
	gap: 15px;
	padding: 6px 35px 9px 9px;
}

.select {
}

.arrow {
	position: absolute;
	z-index: 1;
	display: block;
	right: 13px;
	top: 50%;
	width: 7px;
	aspect-ratio: 7 / 4;
	transform: translateY(-50%);
}

.codes {
	display: flex;
	align-items: center;
	gap: 1px;

	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	overflow: hidden;
}

.codeWrapper {
	flex: 1 1 auto;
	height: 100%;
}

.code {
	width: 100%;
	height: 100%;
	padding: 6px 10px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	font-size: 14px;
	color: var(--black);
	background-color: var(--light-grey);
}

.percentages {
	height: 100%;
	display: inline-flex;
	align-items: center;
	background-color: var(--light-grey);
}

.opacity {
	width: calc(3ch * 2);
	padding: 6px 10px;
	font-size: 14px;
	color: var(--black);
}

.static {
	padding: 0 8px 0 0;
}

.triads {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 14px;
}

.titles {
	text-align: center;
}

.title {
	display: inline-block;
	position: relative;
	font-size: 14px;
	color: var(--black);

	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		display: block;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: var(--black);
	}
}

.combinations {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: row;
	justify-content: space-between;
	row-gap: 8px;
	column-gap: 20px;
}

.combination {
	width: 30px;
	height: 30px;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	padding: 4px;

	background-color: var(--grey);
}

.combinationIcon {
	fill: var(--white);
	max-width: 30px;
	max-height: 30px;
}
